@charset "UTF-8";
:root {
  --anchor-reset: underline;
  --list-reset: disc;
}

h1 {
  display: none;
}

#container {
  font-family: "Noto Serif JP", serif;
  width: 100%;
}
#container header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: inherit;
  background-color: black;
  padding: 15px 0;
}
#container header .head-left {
  flex: 0 0 62.5%;
  position: relative;
}
#container header .head-left #h-left-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 15%;
  position: absolute;
}
#container header .head-left #h-left-menu a {
  background-color: rgba(0, 0, 0, 0.5);
  /* rgbaではなく、下記指定なら文字透ける */
}
#container header .head-left #h-left-menu a:hover {
  background-color: initial;
}
#container header .head-left #h-left-menu a:nth-child(1) {
  flex: 0 0 25%;
  text-align: center;
}
#container header .head-left #h-left-menu a:nth-child(2) {
  flex: 1 0 25%;
  text-align: center;
}
#container header .head-left #h-left-menu a:nth-child(3) {
  flex: 2 0 25%;
  text-align: center;
}
#container header .head-left #h-left-menu a img {
  position: relative;
  top: 20%;
}
#container header .head-left img.top-image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
#container header .head-right {
  flex: 0 0 23%;
  margin-left: 2%;
}
#container header .head-right #h-right-menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
}
#container header .head-right #h-right-menu a {
  font-size: 14px;
  color: white;
  text-align: center;
}
#container header .head-right #h-right-menu a:nth-child(-n+3) {
  flex: 0 0 33%;
}
#container header .head-right #h-right-menu a:nth-child(n+4) {
  flex: 0 0 50%;
}
#container header .head-right #h-right-banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 9px 0 11px 0;
}
#container header .head-right #h-right-banner a {
  width: 100%;
  margin-bottom: 2%;
}
#container header .head-right #h-right-banner a img {
  -o-object-fit: contain;
     object-fit: contain;
  width: inherit;
}
#container header .head-right P {
  font-size: 15px;
  color: white;
  text-align: center;
}
#container main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 33px;
}
#container main aside#news {
  flex: 0 0 62.5%;
}
#container main aside#news h3 {
  max-width: 235px;
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 9px;
}
#container main aside#news section {
  margin-bottom: 2%;
}
#container main aside#news section .red-belt {
  background-image: url(../img/h_bg.png);
  background-repeat: no-repeat;
  max-width: 235px;
  color: white;
  text-align: center;
}
#container main aside#news section article {
  width: 100%;
  border: 1px solid black;
  padding: 11px;
}
#container main aside#news section article a {
  -webkit-text-decoration: var(--anchor-reset);
          text-decoration: var(--anchor-reset);
  font-size: 13px;
  position: relative;
  bottom: 3px;
}
#container main aside#news section article.feature p {
  width: inherit;
  font-size: 13px;
  /* 文字+下空間 */
  padding-bottom: 9px;
  line-height: 13px;
}
#container main aside#news section article.feature .image-line {
  display: inline-block;
}
#container main aside#news section article.feature .image-line img {
  padding-right: 10px;
}
#container main aside#news section.gift article#gift-inner div {
  display: flex;
  flex-wrap: wrap;
}
#container main aside#news section.gift article#gift-inner div.middle {
  margin: 2% 0 2% 0;
}
#container main aside#news section.gift article#gift-inner div .inside-image {
  flex: 0 0 22%;
  align-items: flex-start;
  margin-right: 10px;
}
#container main aside#news section.gift article#gift-inner div .inside-image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: inherit;
}
#container main aside#news section.gift article#gift-inner div .detail {
  flex: 0 0 51%;
}
#container main aside#news section.gift article#gift-inner div .detail dl > * {
  font-size: 13px;
  /* 文字+下空間 */
  padding-bottom: 9px;
  line-height: 13px;
}
#container main aside#news section.gift article#gift-inner div .detail dl > * p {
  font-size: 13px;
  /* 文字+下空間 */
  padding-bottom: 9px;
  line-height: 13px;
}
#container main aside#news section.gift article#gift-inner div a {
  height: 19px;
  position: relative;
  /* デフォルトの高さ-フォントサイズ */
  top: 104px;
}
#container main aside#news section.gift article#gift-inner div:nth-child(3) .detail {
  flex: 0 0 48%;
}
#container main nav {
  flex: 0 0 23%;
  margin-left: 2%;
}
#container main nav .red-belt {
  background-image: url(../img/h_bg.png);
  background-repeat: no-repeat;
  max-width: 235px;
  color: white;
  text-align: center;
}
#container main nav h3 {
  max-width: 235px;
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 9px;
}
#container main nav ul {
  padding: 0.8em;
  margin-bottom: 0.8em;
}
#container main nav ul li a {
  font-size: 13px;
}
#container main nav ul.about {
  border: 1px solid black;
  padding: 0;
  list-style: var(--list-reset);
  list-style-position: inside;
  padding: 12px;
}
#container main nav ul.about li a p {
  padding-left: 1rem;
}
#container footer {
  height: 32px;
  background-color: black;
}
#container footer p.copyright {
  width: 85.5%;
  font-size: 9px;
  color: white;
  text-align: right;
  margin: 0 auto;
  line-height: 32px;
}/*# sourceMappingURL=style.css.map */