@charset 'utf-8';

:root {
    --anchor-reset: underline;
    --list-reset: disc;
}

@mixin flex-col($ratio, $distribute1: 0, $distribute2: 0) {
    flex: $distribute1 $distribute2 $ratio;
}
@mixin border-box($space) {
    border: 1px solid black;
    padding: $space
}
@mixin red-title {
    .red-belt {
        background-image: url(../img/h_bg.png);
        background-repeat: no-repeat;
        max-width: 235px;
        color: white;
        text-align: center;
    }
}
@mixin h3-parts {
    max-width: 235px;
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 9px;
}
@mixin article-area($font-sizing) {
    font-size: $font-sizing;
    /* 文字+下空間 */
    // height: 22px;
    padding-bottom: 9px;
    line-height: $font-sizing;
}

h1 { display: none; }
#container {
    font-family: 'Noto Serif JP', serif;
    width: 100%;
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: inherit;
        background-color: black;
        padding: 15px 0;
        .head-left {
            @include flex-col(62.5%);
            position: relative;
            #h-left-menu {
                display: flex;
                flex-wrap: wrap;
                // justify-content: center;
                // align-items: center;
                width: 100%;
                height: 15%;
                position: absolute;
                // top: 3%;
                a {
                    background-color: black;
                    opacity: .5;
                }
                a:nth-child(1) {
                    @include flex-col(25%, 0, 0);
                    text-align: center;
                }
                a:nth-child(2) {
                    @include flex-col(25%, 1, 0);
                    text-align: center;
                }
                a:nth-child(3) {
                    @include flex-col(25%, 2, 0);
                    text-align: center;
                }
                a img {
                    position: relative;
                    top: 20%;
                }
            }
            img.top-image {
                object-fit: contain;
                width: 100%;
            }
        }
        .head-right {
            @include flex-col(23%);
            margin-left: 2%;
            #h-right-menu {
                display: flex;
                flex-wrap: wrap;
                margin-top: 7px;
                a {
                    font-size: 14px;
                    color: white;
                    text-align: center;
                }
                a:nth-child(-n+3) {
                    @include flex-col(33%);
                }
                a:nth-child(n+4) {
                    @include flex-col(50%);
                }
            }
            #h-right-banner {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                margin: 9px 0 11px 0;
                a {
                    width: 100%;
                    margin-bottom: 2%;
                    img {
                        object-fit: contain;
                        width: inherit;
                    }
                }
            }
            P {
                font-size: 15px;
                color: white;
                // font-family: 'メイリオ';
                text-align: center;
                // margin-top: 3%;
            }
        }
    }
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 33px;
        aside#news {
            @include flex-col(62.5%);
            h3 {
                @include h3-parts;
            }    
            section {
                @include red-title;
                margin-bottom: 2%;
                article {
                    width: 100%;
                    @include border-box(11px);                   
                    a {
                        text-decoration: var(--anchor-reset);
                        font-size: 13px;
                        position: relative;
                        bottom: 3px;
                    }
                }
                article.feature {
                    p {
                        width: inherit;
                        @include article-area(13px);
                    }
                    .image-line {
                        display: inline-block;
                        img {
                            padding-right: 10px;
                        }
                    }
                }
            }
            section.gift {
                article#gift-inner div {
                    display: flex;
                    flex-wrap: wrap;
                    &.middle {
                        margin: 2% 0 2% 0;
                    }
                    .inside-image {
                        @include flex-col(24%);
                        align-items: flex-start;
                        margin-right: 10px;
                        img {
                            object-fit: contain;
                            width: inherit;
                            // float:left;
                            // &::after {
                            //     content: "";
                            //     display: block;
                            //     clear: both;                        
                            // }
                        }
                    }
                    .detail {
                        @include flex-col(51%);
                        // float: right;
                        dl > * {
                            @include article-area(13px);
                            p {
                                /* 文字+下空間 */
                                height: 22px;
                            }
                        }
                    }
                    a {
                        height: 19px;
                        position: relative;
                        /* デフォルトの高さ-フォントサイズ */
                        top: 104px;
                    }    
                }
                // article#gift-inner a {
                // }
            }
        }
        nav {
            @include flex-col(23%);
            margin-left: 2%;
            @include red-title;
            h3 {
                @include h3-parts;
            }
            ul {
                padding: 0.8em;
                margin-bottom: 0.8em;
                li a {
                    font-size: 13px;
                }
            }
            ul.about {
                @include border-box(0);
                list-style: var(--list-reset);
                list-style-position: inside;
                padding: 12px;
                li {
                    a p {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
    footer {
        height: 32px;
        background-color: black;
        p.copyright {
            width: 85.5%;
            font-size: 9px;
            color: white;
            text-align: right;
            margin: 0 auto;
            line-height: 32px;
        }
    }
}